//*------------------*
//*  トップ
//*------------------*
.eat {
  padding-top: 80px;
  width: 100%;

  &__top {
    width: 100%;
    height: 500px;
    background-image: url(../images/menu-header.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ttl {
    color: $color-white;
    @include rem(34);
  }
}

// ルームコンテンツコンテナ
.eat-type {
  width: 100%;
  padding-bottom: 150px;

  &__inner {
    width: 100%;
    max-width: calc(1180px + 4% * 2);
    padding: 0 4%;
    margin: 0 auto;
  }
}

// ルームコンテンツのフォントサイズ
.eat__contents {
  h4 {
    @include rem(24);
  }
  p {
    @include rem(16);
  }
  li {
    @include rem(14);
  }
}

// eat-1
.eat-1 {
  margin-bottom: 82px;

  &__container {
    position: relative;
    padding-top: 57px;
  }
  &__image {
    max-width: 45%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }

  &__content {
    max-width: 68.9%;
    min-height: 381px;
    height: auto;
    background-image: url(../images/bg1-3.jpg);
    margin-left: auto;
    padding: 53px 0;
    background-position: center;
    background-size: cover;

    &-inner {
      margin: 0 8% 0 29%;
      width: 63%;
    }
  }

  &__ttl {
    margin-bottom: 38px;

  }
  &__text {
    margin-bottom: 40px;
    line-height: 2;
  }
}

// eat-2
.eat-2 {
  margin-bottom: 82px;

  &__container {
    position: relative;
    padding-top: 57px;
  }
  &__image {
    max-width: 45%;
    position: absolute;
    top: 0;
    right: 0;

    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
      
    }
  }

  &__content {
    max-width: 68.9%;
    min-height: 381px;
    height: auto;
    background-image: url(../images/bg1-3.jpg);
    margin-right: auto;
    padding: 53px 0;
    background-position: center;
    background-size: cover;

    &-inner {
      margin: 0 29% 0 8%;
      width: 63%;
    }
  }

  &__ttl {
    margin-bottom: 38px;

  }
  &__text {
    margin-bottom: 40px;
    line-height: 2;
  }
}

// eat-3
.eat-3 {

  &__container {
    position: relative;
    padding-top: 57px;
  }
  &__image {
    max-width: 45%;
    position: absolute;
    top: 0;
    left: 0;

    img {
      width: 100%;
      height: auto;
      vertical-align: bottom;
    }
  }

  &__content {
    max-width: 68.9%;
    min-height: 381px;
    height: auto;
    background-image: url(../images/bg1-3.jpg);
    margin-left: auto;
    padding: 53px 0;
    background-position: center;
    background-size: cover;

    &-inner {
      margin: 0 8% 0 29%;
      width: 63%;
    }
  }

  &__ttl {
    margin-bottom: 38px;
  }
  &__text {
    margin-bottom: 40px;
    line-height: 2;
  }
}