//*------------------*
//*  変数管理
//*------------------*

// color
$color-white: #fff;
$color-black: #000;
$color-btn: #978F10;
$color-btn-border: #707070;
$color-bg-grey: #F6F6F6; /* お知らせのarticleの背景 */
$color-box-border: #E7E7E7;
$color-placeholder: #797878;
$color-alert: rgb(187, 0, 0);

// font-family
$font-main: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", "YuMincho", 
"ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", 
"ＭＳ Ｐ明朝", "MS PMincho", serif;

