.detail__btn a {
  width: 200px;
  height: 56px;
  border: 1px solid $color-btn-border;
  display: block;
  text-align: center;
  line-height: 56px;
  color: $color-black;
  background-color: $color-white;

}